div {
    width: 170px;
    height: 40px;
    background-color: rgb(69, 172, 204);
}

footer {
    width: 600px;
    height: 60px;
    background-color: rgb(25, 93, 114);
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 15px;
}